[submodule "kali-nethunter-kernel"]
	path = kali-nethunter-kernel
	url = https://gitlab.com/kalilinux/nethunter/build-scripts/kali-nethunter-kernel.git
[submodule "SukiSU"]
	path = SukiSU
	url = https://github.com/SukiSU-Ultra/SukiSU-Ultra.git
